version: '3.4'

services:
  febedb.backend:
    build:
      target: testCerts
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Password=bc3fc426daab489faa85ad479ab982ec
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/Certs/febedb.backend.pfx
    volumes:
      - ./Certs/Generated:/Certs
  febedb.frontend:
    build:
      target: testCerts
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Password=bc3fc426daab489faa85ad479ab982ec
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/Certs/febedb.frontend.pfx
    volumes:
      - ./Certs/Generated:/Certs
