@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    Ping: Should return the string "Pong"
    @Html.ActionLink("Ping", "Ping");
</div>

<div>
    Trace: Returns Trace Result for itself, including any child
    @Html.ActionLink("Trace", "Trace")
</div>

<div>
    Trace(destinationId): Returns Trace Result for itself, including any child up to the specified child.
    N/A (this service has no children)
</div>
