@{
    ViewData["Title"] = "Home Page";
}

@model HomeIndexViewModel

<div class="text-center">
    <h1 class="display-4">Today's weather forecast</h1>
    <div class="display-2">@Model.CurrentWeather.TemperatureC - @Model.CurrentWeather.Summary</div>
</div>
